.todoListHeader{
    text-align: center
}
.todoListHeader h3{
    color: green;
}
.todoListNewTaskForm input{
    width: 240px;
    height: 20px;
    color: green;
    font-size:15px;
    outline: none; 
}
.todoListNewTaskForm button{
    height: 26px;
    color: green;
    font-size:15px;
}